:root {
    --primary-color: #fff;
    /* forest green */
    --secondary-color: #f4a261;
    /* warm sand */
    --accent1-color: #264653;
    /* dark slate blue */
    --accent2-color: #312a93;
    /* light golden yellow */
    --white-color: #f5f5f5;
    /* White */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
}

header,
main,
footer,
h2 {
    width: 840px;
    margin: 0 auto;
    border: 1px solid var(--black-color);
}

main {
    background: linear-gradient(to right, #a3ebf5, #adf5a3);
}

header {
    background-color: var(--accent1-color);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: var(--white-color);
}

header img {
    width: 100px;
    border-radius: 15px;
}

header nav {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: 50px;
    place-items: center;
    border-radius: 10px;
}

header a {
    color: var(--white-color);
    text-decoration: none;
}

header a:hover {
    display: grid;
    color: #7fdd7a;
    width: 100px;
    height: 50px;
    border: 1px solid #7fdd7a;
    border-radius: 10px;
    place-items: center;
    transition: 0.8s;
}

.hero-about h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    position: absolute;
    bottom: 450px;
    width: 100%;
    padding: 16px;
    opacity: 0.9;
    background-color: var(--accent1-color);
    text-align: center;
}

.hero-contact h1 {
    padding: 20px 0;
    text-align: center;
    font-size: 50px;
}

.hero-contact p {
    padding: 5px;
    text-align: center;
}

.history h2,
.container h2 {
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    text-align: center;
    opacity: 0.9;
    margin: 16px 0px;
    padding: 16px;
}

.hero-about p,
.history p {
    margin: 16px;
    padding: 0px;
}

.hero-about {
    position: relative;
    text-align: center;
}

.hero-about h1 {
    padding: 16px 0px;
    margin-left: -10px;
}

.hero-about article img {
    height: 130px;
    width: auto;
    float: right;
    margin-left: 20px;
    bottom: 500px;
}

.hero-about article {
    position: absolute;
    top: 400px;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 10px;
    text-align: justify;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.history {
    /* width: 0%; */
    font-family: var(--heading-font);
    background-color: var(--accent1-color);
    color: var(--white-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 200px;
    align-items: center;
    padding: 20px 0px;
    margin: 20px 0px;
    opacity: 0.9;
}

.history h2 {
    grid-column: 1/5;
}

.container {
    font-family: var(--heading-font);
    display: grid;
    grid-template-rows: 90px 130px;
    grid-template-columns: repeat(5, 20%);
    text-align: center;
}

.container h2 {
    grid-column: 1/6;
    text-align: center;
}

figure {
    align-items: center;
}

.user {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    place-items: center;
}

iframe {
    border-radius: 10px;
    border: 2px solid rgb(0 0 0);
    margin: 10px;
}

.name,
.email {
    display: grid;
    grid-template-columns: 30% 70%;
    width: 100%;
    padding: 10px 0;
}

.user label {
    display: flex;
    align-items: center;
}

input[type="text"],
[type="email"] {
    padding: 5px;
}

.radio {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: repeat(3, 1fr);
}

.radio label {
    padding: 10px 0;
}

.radio1 {
    grid-row: 1/4;
}

.message label {
    padding: 10px 0;
    align-items: center;
}

.message textarea {
    width: 100%;
    resize: none;
    padding: 5px;
}

.subscribe {
    display: flex;
    flex-direction: row-reverse;
    padding: 10px 0;
}

.submit button {
    padding: 10px 0;
    width: 100%;
    border-radius: 5px;
    background-color: var(--accent1-color);
    color: var(--white-color);
    font-size: 1.1rem;
}

.submit button:hover {
    color: #7fdd7a;
    transition: 0.9s;

}

.employee {
    display: grid;
    grid-template-rows: 40px 150px;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    text-align: center;
}

.employee h2 {
    grid-column: 1/4;
}

.employee img {
    /* align-items: center; */
    border: 1.5px solid rgb(0 0 0);
    border-radius: 5px;
    width: auto;
    height: 100px;
}

footer {
    background-color: var(--accent1-color);
    color: var(--white-color);
    padding: 5px 10px;
}

.socialmedia {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.socialmedia p {
    margin: 0 auto;
}

.socialweb {
    display: flex;
    gap: 10px;
}

footer img {
    width: 40px;
}