:root {
    --primary-color: #fff;
    /* forest green */
    --secondary-color: #f4a261;
    /* warm sand */
    --accent1-color: #264653;
    /* dark slate blue */
    --accent2-color: #312a93;
    /* light golden yellow */
    --white-color: #f5f5f5;
    /* White */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid #000; */
    /* background-color: khaki; */
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    background-color: var(--accent1-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: var(--white-color);
}

header img {
    width: 100px;
    border-radius: 15px;
}

.container nav {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: 50px;
    place-items: center;
    border-radius: 10px;
}

.container a {
    color: var(--white-color);
    text-decoration: none;
}

.container a:hover {
    display: grid;
    color: #7fdd7a;
    width: 100px;
    height: 50px;
    border: 1px solid #7fdd7a;
    border-radius: 10px;
    place-items: center;
    transition: 0.8s;
}

.hero h1 {
    padding: 20px 0;
    text-align: center;
    font-size: 50px;
}

.hero p {
    padding: 5px;
    text-align: center;
}

.user {
    padding: 10px;
    display: flex;
    flex-direction: row;
    place-items: center;
}

iframe {
    border-radius: 10px;
    border: 2px solid rgb(0 0 0);
    /* padding-right: 10px; */
}

/* .user2 {
    padding-left: 10px;
} */

form {
    margin: 0 auto;
    padding: 1rem;
    /* border: 1px solid rgb(0 0 0 / 0.1); */
    border-radius: 0.5rem;
    /* background-color: #eee; */
    display: grid;
}

label {
    text-align: left;
    padding-right: 1rem;
}

input, button, 
textarea {
    padding: 0.5rem;
    font-size: 1rem;
}

/* input[type="radio"] {
    width: 150px;
    height: 15px;
    vertical-align: bottom;
} */

.employee {
    /* font-family: var(--heading-font); */
    display: grid;
    grid-template-rows: 40px 150px;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    text-align: center;
}

.employee h2 {
    grid-column: 1/4;
}

figure {
    align-items: center;
}

footer {
    background-color: var(--accent1-color);
    color: var(--white-color);
    padding: 0px 10px;
}

.socialmedia {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.socialmedia p {
    margin: 0 auto;
}

.socialweb {
    display: flex;
    gap: 10px;
}

footer img {
    width: 40px;
}   