* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 510px;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #555;
    color: #fff;
}

h1 {
    margin: 1rem;
}

form {
    background-color: #ddd;
    color: #111;
}

input, textarea, select, button {
    padding: 0.75rem;
    width: 100%;
}

.numero {
    color: navy;
    /* color del número */
    font-weight: bold;
    font-size: 18px;
    margin-right: 5px;
}

button {
    background-color: navy;
    color: #fff;
    /* display: block; */
    border-radius: 5px;
    border: none;
}

code {
    display: block;
    background-color: #000;
    opacity: 0.7;
    color: #fff;
}

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
}

.quiz-item {
    border: none;
}