nav {
    max-width: 840px;
}

main {
    max-width: 840px;
}

aside {
    max-width: 840px;
}

nav {
    width: 20rem;
    margin: 1rem;
    background-color: #333;
    padding: 1rem;
}

nav a {
    width: 20rem;
    margin: 0rem;
    background-color: #333;
    padding: 0rem;
    color: #eee;
    text-align: center;
    display: block;
}

header a {
    transition: color 0.3s ease;
    color: #ffffff;
    text-decoration: none;
}

header a:hover {
    color: cornflowerblue;
}

main,
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    box-shadow: 0 0 0.5rem rgba(0 0 0 / .6);
}

aside img {
    width: 200px;
    height: auto;
    box-shadow: 0 0 0.5rem rgba(0 0 0 / .6);
}

h1 {
    color: #000;
}

hr {
    width: 22rem;
    margin-left: 15px;
}

p {
    padding: 0;
    text-align: justify;
}

footer {
    width: 20rem;
    margin-top: 15px;
    margin-left: 15px;
    border-top: 1px solid #000;
    text-align: center;
    background-color: #333;
    padding: 1rem;
    color: #ffffff;
}