* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* :root {
    --principal-text-color: #ffffff;
    --second-text-color: #333;
    --hover-color: cornflowerblue;
    --pad-0: 0rem;
    --pad-1: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.2);
    --bs: 0 0 0.5rem rgba(0 0 0 / .6);
} */

nav {
    max-width: 840px;
}

main {
    max-width: 840px;
}

aside {
    max-width: 840px;
}

nav {
    width: 20rem;
    margin: 1rem;
    background-color: #333;
    padding: 1rem;
}

nav a {
    background-color: #333;
    padding: 0rem;
    color: #ffffff;
    text-align: center;
    display: block;
}

header a {
    transition: color 0.3s ease;
    color: #ffffff;
    text-decoration: none;
}

header a:hover {
    color: cornflowerblue;
}

main {
    width: 550px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: .5rem;
    box-shadow: 0 0 0.5rem rgba(0 0 0 / .6);
    float: right;
    margin: 0 0 1rem 1rem;
}

ul {
    text-align: justify;
    /* margin: 1rem; */
}

li a {
    margin-left: 1rem;
    padding: 0rem;
    color: #333;
    text-align: justify;
    display: block;
}

li a:hover {
    color: cornflowerblue;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
    box-shadow: 0 0 0.5rem rgba(0 0 0 / .6);
}

aside h2 {
    position: absolute;
    top: 100px;
    left: 200px;
}

h1 {
    color: #000;
}

hr {
    width: 20rem;
    margin-left: 15px;
}

aside p {
    padding: 0;
    text-align: justify;
}

main p {
    padding: 0;
    text-align: justify;
}

footer {
    width: 20rem;
    margin-top: 15px;
    margin-left: 15px;
    border-top: 1px solid #000;
    text-align: center;
    background-color: #333;
    padding: 1rem;
    color: #ffffff;
}

/* Class Selectors */

.box {
    margin-left: 15px;
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}