html {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

header,
main,
aside {
    max-width: 840px;
}

header {
    width: 20rem;
    margin: 1rem;
    background-color: #333;
    padding: 1rem;
    color: #eee;
    text-align: center;
}

header a {
    transition: color 0.3s ease;
    color: #ffffff;
    text-decoration: none;
}

header a:hover {
    color: cornflowerblue;
}

main,
aside {
    width: 20rem;
    margin: 1rem;
    border-radius: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

main img {
    width: 150px;
    height: auto;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
    text-align: justify;
}

footer {
    width: 20rem;
    margin-top: 15px;
    margin-left: 15px;
    border-top: 1px solid #000;
    text-align: center;
    background-color: #333;
    padding: 1rem;
    color: #ffffff;
}